{% extends 'base2.html.twig' %}

{% block title %}Règles{% endblock %}

{% block content %}

<div id="presentation">
    <div class="container col-lg-6">
        <h1>Régles</h1>
        <div class="embed-responsive embed-responsive-16by9 promo">
            <iframe class="embed-responsive-item" width="500" height="281" src="https://www.youtube.com/embed/gjQpIY2fWTs?ecver=2"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    </div>
    <div class="social">

        <div class="container">
            </p><details><summary>Dérouler les règles</summary><p>

                    C’est donc aux oracles de parvenir à attirer la faveur des 7 Dieux sur leur cité respective. Sur chaque carte Divinité, on trouve le niveau de puissance de celle-ci, niveau variant de 2 à 5. Il y a une marque de soutien sur chaque Divinité.
                    A la fin de la manche, certaines marques vont se déplacer vers le haut ou vers le bas pour indiquer quelle cité a gagné les faveurs de la Divinité et ainsi ses points de puissance. Vous pouvez gagner la partie de deux façons :
                    Obtenir au moins 11 points de puissance (victoire principale)
                    Obtenir 4 faveurs (victoire secondaire)<br><br>
                    Il est possible que les deux oracles atteignent ces conditions en même temps. Dans ce cas, celui qui a 11 points de puissance l’emporte.

                    En cas de match nul, une nouvelle manche sera jouée : les cartes-offrandes seront mélangées, 6 cartes seront distribuées à chaque joueur et les 4 actions seront à nouveau disponibles. Cela signifie que si vous gagnez les faveurs d’une Divinité, une égalité d’offrandes vous suffira pour garder celle-ci de votre côté.
                    Le jeu se joue avec 21 cartes représentant des offrandes potentielles aux Divinités ainsi au début de leur tour, les joueurs reçoivent une nouvelle carte de la pioche.. Pour chaque Divinité, le nombre de cartes-offrandes est égal à leurs points de puissance. Ces offrandes seront sacrifiées aux Divinités. Pour gagner la faveur d’une Divinité, vous devrez leur faire plus d’offrandes que l’adversaire. La marque de soutien se déplacera alors de votre côté à la fin de la manche.
                    Chaque oracle dispose de 4 actions à sa disposition qui ne peuvent être jouées qu’une fois.<br><br>

                    La première action s’appelle secret. L’offrande de votre choix sera sacrifiée à la Divinité à la fin de la manche mais votre adversaire n’en aura connaissance qu’à ce moment-là.
                    L’action 2 s’appelle dissimulation. Pour effectuer cette action, on sélectionne 2 offrandes de sa main. Ces offrandes ne seront sacrifiées à aucun dieu lors de cette manche et resteront cachées jusqu’à la fin de la manche.
                    La troisième action s’appelle Cadeau, vous devez choisir 3 offrandes. Une fois cela fait, l’adversaire en choisira une et vous garderez les deux autres, ces offrandes seront ensuite sacrifiées aux Divinités.
                    La quatrième action s’appelle Concurrence, vous devez choisir entre deux groupes de 2 cartes proposées par l’adversaire, ces offrandes seront ensuite sacrifiées aux divinités.
                    Une fois les 4 actions jouées, les cartes de l’action « Secret » seront révélées et offertes aux Divinités. Ensuite les marques de soutien se déplaceront.
                </p></details>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}